<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center">{{'ACCOUNT.ACCOUNTINFO' | translate}}</h2>
        <div class="editImage">

            <img class="img" *ngIf="!ifImageAvailable" (click)="uploadButtonClick()" src="./assets/images/others/user.jpg" onError="this.src='/assets/images/default_image.png';">
            <img class="img" *ngIf="ifImageAvailable" (click)="uploadButtonClick()" [src]="imageUrl">


            <input type="file" name="userImg" (change)="uploadChange($event)" accept="image/*" #filePath style="display: none">
            <span class="editProfile" *ngIf="(ifImageAvailable)" (click)="uploadButtonClick()">{{'ACCOUNT.CHANGE' | translate}}</span>
        </div>
        <form [formGroup]="infoForm">
            <mat-form-field class="w-100 mt-2" [ngClass]="{'validationcolor':((infoForm.controls.firstName.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'CONTACT.NAME' | translate}}" formControlName="firstName" required>
                <mat-error *ngIf="((infoForm['controls'].firstName.errors?.required)&&(ifSubmitted==true))">
                    {{'VALIDATION.NAMEREQUIRED' | translate}}
                </mat-error>
                <mat-error *ngIf="((infoForm['controls'].firstName.hasError('minlength'))&&(ifSubmitted==true))">
                    {{'VALIDATION.NAMEMINLENGTH'| translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" [ngClass]="{'validationcolor':((infoForm.controls.lastName.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'CONTACT.LASTNAME' | translate}}" formControlName="lastName" required>
                <mat-error *ngIf="((infoForm['controls'].lastName.errors?.required)&&(ifSubmitted==true))">
                    {{'VALIDATION.LASTNAMEREQUIRED' | translate}}
                </mat-error>
                <mat-error *ngIf="((infoForm['controls'].lastName.hasError('minlength'))&&(ifSubmitted==true))">
                    {{'VALIDATION.NAMEMINLENGTH' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" [ngClass]="{'validationcolor':((infoForm.controls.email.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'LOGIN.EMAIL' | translate}}" formControlName="email" required>
                <mat-error *ngIf="((infoForm['controls'].email.errors?.required)&&(ifSubmitted==true))">
                    {{'VALIDATION.EMAILREQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="((infoForm['controls'].email.hasError('invalidEmail'))&&(ifSubmitted==true))">
                    {{'VALIDATION.EMAILINVALID' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput type="text" maxlength="15" appOnlyNumber placeholder="{{'ACCOUNT.PHONENUMBER' | translate}}" formControlName="{{'LOGIN.PHONNUMBER' | translate}}">
            </mat-form-field>

            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onInfoFormSubmit()">
                    {{'ACCOUNT.SAVE' | translate}}
                </button>
            </div>
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center">{{'ACCOUNT.CHANGEPASSWORD' | translate}}</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()">
            <mat-form-field class="w-100 mt-2" [ngClass]="{'validationcolor':
            ((passwordForm.controls.currentPassword.errors?.required)&&(ifPasswordForm==true))}">
                <input matInput placeholder="{{'LOGIN.CURRENTPASSWORD' | translate}}" formControlName="currentPassword" type="password">
                <mat-error *ngIf="((passwordForm.controls['currentPassword'].errors?.required)&&(ifPasswordForm==true))">
                    {{'VALIDATION.CURRENPASSWORDREQUIRED' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" [ngClass]="{'validationcolor':
            ((passwordForm.controls.newPassword.errors?.required)&&(ifPasswordForm==true))}">
                <input matInput placeholder="{{'LOGIN.NEWPASSWORD' | translate}}" formControlName="newPassword" type="password">
                <mat-error *ngIf="((passwordForm.controls['newPassword'].errors?.required)&&(ifPasswordForm==true))">
                    {{'VALIDATION.NEWPASSWORDREQUIRED' | translate}}
                </mat-error>
                <mat-error *ngIf="((passwordForm.controls['newPassword'].hasError('minlength'))&&(ifPasswordForm==true))">
                    {{'VALIDATION.PASSWORDMINLENGTH' | translate}}
                </mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit">{{'ACCOUNT.SAVE' | translate}}</button>
            </div>
        </form>
    </div>
</div>