<mat-card fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="33.3">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
            <mat-icon color="primary" class="mat-icon-lg">home</mat-icon>
            <h3 class="primary-text py-1">{{'CONTACT.ADDRESS' | translate}}:</h3>
            <span class="text-muted"><a [routerLink]="['/getdirections/']"  href="#">{{(listSandbox.settingDetail$ | async)?.storeAddress}}</a></span>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon color="primary" class="mat-icon-lg">call</mat-icon>
            <h3 class="primary-text py-1">{{'CONTACT.PHONENUMBER' | translate}}:</h3>
            <span class="text-muted"><a href="tel:'{{(listSandbox.settingDetail$ | async)?.storeTelephone}}'">{{(listSandbox.settingDetail$ | async)?.storeTelephone}}</a></span>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon color="primary" class="mat-icon-lg">mail_outline</mat-icon>
            <h3 class="primary-text py-1">{{'LOGIN.EMAIL' | translate}}:</h3>
            <span class="text-muted"><a href="mailto:'{{(listSandbox.settingDetail$ | async)?.storeEmail}}'">{{(listSandbox.settingDetail$ | async)?.storeEmail}}</a></span>
        </div>
    </div>
    <div class="divider w-100 mt-2"></div>
    <h3 class="w-100 text-center py-2">{{'CONTACT.TITLE' | translate}}</h3>

    <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100" [ngClass]="{'validationcolor':((contactForm.controls.name.errors?.required)&&(submitted))}">
                <input matInput (keyup)="onKeyPress($event, 'name')" placeholder="{{'LOGIN.NAME' | translate}}" formControlName="name" required>
                <mat-error *ngIf="contactForm.controls['name'].errors?.required && submitted">{{'VALIDATION.NAMEREQUIRED' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100" [ngClass]="{'validationcolor':((contactForm.controls.email.errors?.required)&&(submitted))}">
                <input matInput placeholder="{{'LOGIN.EMAIL' | translate}}" formControlName="email" required>
                <mat-error *ngIf="contactForm.controls['email'].errors?.required && submitted">{{'VALIDATION.EMAILREQUIRED' | translate}}</mat-error>
                <mat-error *ngIf="contactForm.controls['email'].hasError('invalidEmail') && submitted">{{'VALIDATION.EMAILINVALID' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100" [ngClass]="{'validationcolor':((contactForm.controls.phone.errors?.required)&&(submitted))}">
                <input matInput placeholder="{{'LOGIN.PHONENUMBER' | translate}}" formControlName="phone" maxlength="15" appOnlyNumber required>
                <mat-error *ngIf="contactForm.controls['phone'].errors?.required && submitted">{{'VALIDATION.PHONEREQUIRED' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1 mt-1">
            <mat-form-field class="w-100" [ngClass]="{'validationcolor':((contactForm.controls.message.errors?.required)&&(submitted))}">
                <input matInput (keyup)="onKeyPress($event, 'message')" placeholder="{{'CONTACT.MESSAGE' | translate}}" formControlName="message" required>
                <mat-error *ngIf="contactForm.controls['message'].errors?.required && submitted">{{'VALIDATION.MESSAGEREQUIRED' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="w-100 py-2 text-center">
            <button mat-raised-button color="primary" type="submit">{{'LOGIN.SUBMIT' | translate}}</button>
        </div>
    </form>

</mat-card>